<% flash.each do |msg_type, msg| %>
  <p style="color: <%= msg_type == 'notice' ? 'green' : 'red' %>;"><%= msg %></p>
  <hr>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
