<% flash.each do |msg_type, msg| %>
  <hr>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <p style="color: <%= msg_type == 'notice' ? 'green' : 'red' %>;"><%= msg %></p>
  </div>
<% end %>
