<div class="container border p-3 my-5">
  <h1>お問合せ</h1>
  <div class="container-login" style="max-width: 1200px">
    <div id="scroll_box" class="container btn btn-light" style="max-width: 1500px; height: 400px">
      <%= render @contacts %>
    </div>
  </div>
</p>
</div>
</div>
</div>
</div>
<p>
  <a class="btn btn-secondary dropdown-toggle btn btn-warnin" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    お問い合わせform
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= render 'contact_form' %>  </div>
</div>
</div>
