<table class="table">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">理由</th>
      <th scope="col">登園時間</th>
      <th scope="col">お迎え時間</th>
    </tr>
  </thead>
  <tbody>
    <td><%= saturday_application.date %></td>
    <td><%= saturday_application.title %></td>
    <td><%= saturday_application.start_time %></td>
    <td><%= saturday_application.end_time %></td>
  </tbody>
</table>
