<div class="modal-body">
  <p> <%= @saturday_application.title %></p>
  <p> <%= @saturday_application.start_time %></p>
  <p> <%= @saturday_application.end_time %></p>
  <p> <%= @saturday_application.date %></p>
</div>
