<div class="container-login" style="max-width: 1500px;">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/new' %>
  <hr>
  <div id="posts">
    <div class="container">
      <div class="row">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>
