<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col2">日付</th>
      <th scope="col2">症状</th>
      <th scope="col2">詳細</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= absence.date %></td>
      <td><%= absence.title %></td>
      <td><%= absence.content %>
      </td>
    </tr>
  </tbody>
</table>
