/*
 *= require_tree ./autoloads
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.content {
  margin: 0 auto;
  padding: 40px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.container-login {
  box-sizing: border-box;
}

.googleCalendar iframe {
  width: 100%;
  height: 400px;

  @media all and (min-width: 768px) {
    height: 600px;
  }
}

/* 吹き出し本体 */
.balloon1 {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: navajowhite;
  margin-left: 110px;
  /* 左に余白を設ける */
}

/* 画像 - 絶対配置で左上に配置 */
.balloon1 .icon {
  position: absolute;
  left: -110px;
  top: 0;
}

/* 三角アイコン */
.balloon1::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid navajowhite;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* 吹き出し本体 */
.balloon2 {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: palevioletred;
  margin-right: 110px;

  /* 右に余白を設ける */
}


/* 画像 - 絶対配置で右上に配置 */
.balloon2 .icon {
  position: absolute;
  right: -110px;
  top: 0;
  // op: 0;
}

/* 三角アイコン */
.balloon2::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid palevioletred;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

#scroll_box {
  width: 100%;
  height: 300px;
  overflow: scroll;
  white-space: nowrap;
}

#scroll_box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#scroll_box::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

.posts {
  background-image: url("/images/保育園写真.png");
  height: 800px;
  background-size: cover;
}